@model List<GamingPC>
@{ string title = ViewBag.Action;
                ViewBag.Title = title;

    int colCount = 0;
}
<html lang="en">
<head>
    <meta charset="utf-8">    
</head>
<body>
    <div>
        <h2 class="h2 text-black-50 text-center">Pre-Built Pc's'</h2>
    </div>
    <div class="container">
        <div class="row">
            @foreach (var pcList in Model)
            {
                    <div class="col-sm">
                        <h2>@pcList.Name</h2>
                        <img src="~/images/@pcList.ImageLink" width="400px" height="400px" />
                        <p class="p-2 text-black-50 text-center">@pcList.Summary</p>
                        <p class="p-2 text-black-50"><strong>Price : </strong>@pcList.Price</p>
                        <p>
                            <b>Estimated Shipping Cost: </b> $29.99
                        </p>
                        <p>
                            <b>Shipped by Canada Post</b>
                        </p>
                        <a asp-controller="GamingPC" asp-action="Details" asp-route-id="@pcList.PcId"><button class="btn btn-primary">Details</button></a>
                        <a asp-controller="Purchase" asp-action="Index" asp-route-id="@pcList.PcId"><button type="button" class="btn btn-primary">Add to cart!</button></a>
                        <br>
                        <input type="checkbox" id="@pcList.PcId" name="@pcList.PcId" value="@pcList.PcId">
                        <label for="@pcList.PcId"> Compare</label><br>
                    </div> 
                    colCount++;

                @if (colCount == 3)
                {
                <div class="w-100"></div> colCount = 0;
                }            
            }
        </div>
    </div>    
</body>
</html>
