@model IEnumerable<ASP.Net_project.Models.Hdd>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HddName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HddPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageLink)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HddName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HddPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageLink)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HddId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HddId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HddId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
