@model IEnumerable<ASP.Net_project.Models.CustomPC>

@{
    ViewData["Title"] = "Custom PC";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New Custom PC</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cust_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GPU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MotherBoard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RAM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HDD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Power)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cooling)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Case)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cust_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GPU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotherBoard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RAM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HDD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Power)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cooling)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Case)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
