@model IEnumerable<ASP.Net_project.Models.Ram>

@{
    ViewData["Title"] = "Rams";
}

<h1>Ram List</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RamPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageLink)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RamName)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.RamPrice)
            </td>
            <td>
                <img width="70" height="70" src="/images/@Html.DisplayFor(modelItem => item.ImageLink)" />
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.RamId">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
